.title
    position: relative
    margin-bottom: 100px
    text-align: center
    color: #01353E
    font-family: Raleway
    font-size: 48px
    font-style: normal
    font-weight: 600
    letter-spacing: 0.6px
    &::after
        content: ''
        position: absolute
        transform: rotate(-55deg)
        bottom: -10px
        right: 90px
        width: 70px
        height: 8px
        background-color: $main-color